.container {
  width: 200px;
  height: 100px;
  color: #314d3e;
}

.title {
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.button {
  display: inline-block;
  align-items: center;
  border-radius: 4px;
  background-color: #3db3f7;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 10px 16px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb"; /* das »-Symbol */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -12px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#screen-focus {
  width: 100px;
}
