.title {
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  padding-bottom: 30px;
}

#begin-button,
#start-button {
  display: inline-block;
  align-items: center;
  border-radius: 4px;
  background-color: #3db3f7;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 10px 16px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#begin-button {
  position: absolute;
  display: inline-block;
  vertical-align: center;
}

#start-button {
  position: relative;
  left: 60%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb"; /* das »-Symbol */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -12px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#screen-welcome,
#screen-focus,
#screen-pause {
  width: 250px;
  height: 250px;
}

#screen-settings,
#screen-blocking-websites {
  width: 300px;
  height: 300px;
}

#countdown-timer-focus,
#countdown-timer-pause {
  position: relative;
  top: 60%;
  text-align: center;
  font-size: 20px;
}

#settings-button-focus,
#settings-button-pause {
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 5px;
}

#skip-focus-button,
#skip-pause-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
}

.study-time-row label,
.pause-time-row label,
.cycle-number-row label {
  width: 80px; /* oder eine andere feste Breite */
  flex-shrink: 0;
}
.focus-time-container,
.pause-time-container,
.cycle-number-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.focus-time-container div,
.pause-time-container div,
.cycle-number-container div {
  width: 25px;
  text-align: center;
}

.study-time-row,
.pause-time-row,
.cycle-number-row {
  display: flex;
  font-size: 15px;
  gap: 20px;
  padding-bottom: 30px;
}

#increase-study-time,
#decrease-study-time,
#increase-pause-time,
#decrease-pause-time,
#increase-cycle-number,
#decrease-cycle-number {
  border: 0.1rem solid rgb(0, 158, 211);
  background-color: white;
  padding: 6px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  cursor: pointer;
}
#increase-study-time:active,
#decrease-study-time:active,
#increase-pause-time:active,
#decrease-pause-time:active,
#increase-cycle-number:active,
#decrease-cycle-number:active {
  transform: scale(0.95);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#study-time-display,
#pause-time-display,
#cycle-number-display {
  border: 0.1rem solid rgb(0, 158, 211);
  padding: 8px;
}

#navbar {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

#navbar ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li a {
  text-decoration: none;
  color: #888;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.2s ease-in-out;
}

#navbar li a:hover {
  color: #444;
}

#navbar i {
  font-size: 16px;
}

.navbar a.active {
  color: #2b67f6;
  font-weight: 600;
}
